.center {
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 10px 0;
    background: $color-primary-dark;
    color: $white;
    padding: 10px 15px;
    box-shadow: $shadow-medium;
    @include transition;
    border-radius: 5px;

    &:hover {
        background: $color-primary;
    }
}

.mt {
    margin-top: 40px;
}

.noscroll {
    overflow: hidden;
}

.alert {
    color: red;
    margin: 0;
    margin-bottom: 5px;
    text-align: left !important;
    line-height: 1;
}