.about {
  @include container($laptop13);
  background-size: cover;
  background-repeat: no-repeat;

  @include laptop13 {
    background-image: url("https://vieirahenrique.github.io/arrowplan/img/world6.png");
    background-position: top 60px left -900px;
    background-size: 1450px;
    padding-bottom: 80px;
  }

  @include laptop {
    background-size: 1550px;
    background-position: top 60px left -870px;
  }
  @include pc {
    background-position: top 100px left -800px;
    background-size: 1650px;
  }
  @include bigPc {
    background-position: top 120px left -450px;
  }

  &__text {
    grid-column: 2/-2;
    min-height: 500px;

    @include laptop13 {
      grid-column: 8/-2;
    }

    h3 {
      color: $color-primary;
      margin-top: 30px;
    }
  }
}
