.footer {
    @include container($laptop13);
    @include separator(70px, 0, 50px, 50px);
    background: $color-primary;

    .col1 {
        grid-column: 4/5;    
    }

    .col2 {
        grid-column: 6/7;
    }

    .col3 {
        grid-column: 8/10;
    }

    .col4 {
        grid-column: 11/12;
    }

    a {
        font-family: avenir-light, sans-serif;
        display: block;
        color: $white;
        margin-bottom: 20px;
    }
}