.message {
  background: rgb(255, 196, 58);
  @include container($ipadPro);
  margin: 50px 0;
  padding: 45px 0;

  p {
    i {
      font-size: 22px;
      color: $gray-dark-2;
      transform: translateY(-15px);
    }

    @include fit-content;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin: 0 auto;
    color: $gray-dark-2;

    span {
      position: absolute;
      bottom: -22px;
      right: 22px;
      font-size: 13px;

      @include laptop13 {
        right: -40px;
      }
    }
  }
}
