.message {
  background: $color-secondary;
  background: $black;
  @include container($ipadPro);
  margin: 50px 0;
  padding: 35px 0;

  p {
    color: $gray-dark-2;
    color: $white;
    i {
      font-size: 22px;
      transform: translateY(-15px);
    }

    @include fit-content;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin: 0 auto;

    span {
      position: absolute;
      bottom: -15px;
      right: 22px;
      font-size: 13px;

      @include laptop13 {
        right: -40px;
      }
    }
  }
}
