.sectors {
    @include container($laptop13);
    margin-top: 60px;


    .wrapper {
        grid-column: 2/-2;
        text-align: center;
        
        @include laptop13 {
            grid-column: 5/11;
            
        }
        
        @include pc {
            grid-column: 4/12;

        }
    }
}