.syspat {
  @include container;
  @include separator(0, 0, 100px, 50px);

  .wrapper {
    grid-column: 2/-2;
    text-align: center;

    @include ipad {
      grid-column: 4/12;
    }
  }

  .videos {
    @include grid(1fr 1fr 1fr, 30px);
  }

  iframe {
    margin-top: 30px;
    width: 320px;
    height: 180px;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
  }
}
