.syspat {
  @include container;
  @include separator(70px, 70px, 0, 0);
  background-image: linear-gradient( to right,
      rgba($color-primary, 1),
      rgba($color-primary, 1)
    ),
    url("https://vieirahenrique.github.io/arrowplan/img/bg2.jpg");
    background-size: cover;
    background-position: center center;

    @include laptop13 {
      background-image: linear-gradient( to right,
      rgba($color-primary, 1),
      rgba($color-primary, 0.5)
    ),
    url("https://vieirahenrique.github.io/arrowplan/img/bg2.jpg");
    }

  &__text {
    grid-column: 1/-1;
    color: $white;
    min-height: 50vh;
    padding: 10%;
    display: grid;
    place-items: center;
    text-align: left;

    h2 {
      color: $white;
    }

    h3 {
      line-height: 1.1;
      color: $gray-light-1;
      font-size: 30px;
    }

    p {
      color: $white;
    }

    @include ipad {
      grid-column: 1/9;
    }
  }
}
